@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import '/node_modules/react-big-calendar/lib/sass/styles.scss'; */
/* @import '/node_modules/react-big-calendar/lib/addons/dragAndDrop/styles.css'; */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --warning: 41.2 83.2% 53.3%;
    --warning-foreground: 222.2 47.4% 11.2%;
    --danger: 0 84.2% 60.2%;
    --danger-foreground: 210 40% 98%;
    --success: 161.3 83% 48.4%;
    --success-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;

    /* FullCalendar */
    
    /* --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: hsla(0,0%,82%,.3);
    --fc-neutral-text-color: grey;
    --fc-border-color: #934242;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #2c3e50;
    --fc-button-border-color: #2c3e50;
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0,0,0,.25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0,0%,84%,.3);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188,232,241,.3);
    --fc-now-indicator-color: red;
   
    --fc-button-active-bg-color: hsl(221.2 83.2% 53.3%);
    --fc-button-active-border-color: hsl(221, 78%, 49%);
    --fc-button-hover-bg-color: hsl(221, 66%, 35%);
    --fc-button-hover-border-color: hsl(221, 66%, 35%);

    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: 210 40% 96.1%;
    --fc-daygrid-event-dot-width: 6px; */
  }

  .dark {
    --background: 0 0% 4% /* neutral-950 */;
    --foreground: 0 0% 99% /* neutral-50 */;
    --card: 0 0% 4% /* neutral-950 */;
    --card-foreground: 0 0% 99% /* neutral-50 */;
    --popover: 0 0% 4% /* neutral-950 */;
    --popover-foreground: 0 0% 99% /* neutral-50 */;
    --primary: 21 91% 49% /* orange-600 */;
    --primary-foreground: 34 100% 97% /* orange-50 */;
    --secondary: 143 65% 25% /* green-800 */;
    --secondary-foreground: 139 77% 97% /* green-50 */;
    --muted: 0 0% 15% /* neutral-800 */;
    --muted-foreground: 0 0% 64% /* neutral-400 */;
    --accent: 336 75% 36% /* pink-800 */;
    --accent-foreground: 328 74% 98% /* pink-50 */;
    --destructive: 0 63% 31% /* red-900 */;
    --destructive-foreground: 0 0% 99% /* neutral-50 */;
    --border: 0 0% 15% /* neutral-800 */;
    --input: 0 0% 15% /* neutral-800 */;
    --ring: 21 91% 49% /* orange-600 */;

    --warning: 37.4 91.3% 54.9%;
    --warning-foreground: 222.2 47.4% 11.2%;
    --danger: 0 84.2% 60.2%;
    --danger-foreground: 210 40% 98%;
    --success: 157.3 91.3% 44.9%;
    --success-foreground: 222.2 47.4% 11.2%;

    /* secondary */
    /* --fc-list-event-hover-bg-color: 210 40% 96.1%; */
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.rbc-event {
  background-color: hsl(var(--primary)) !important;
  border-color: var(--border) !important;
  color: hsl(var(--primary-foreground)) !important;
  @apply font-semibold;
}

.rbc-overlay-header {
  @apply bg-background text-foreground font-semibold;
  padding: 0.5rem 1rem !important;
}

.rbc-overlay {
  @apply max-w-lg;
}